<!DOCTYPE html>
<html lang="pt-br">
    <head>
        {% block head %}
            <title>Admin Academia</title>
        {% endblock %}

        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/reset.css">

    </head>
    <body>
        <header>
            <div id = "links">
                <a href="/instructors">Instrutores</a>
                <a href="/students">Alunos</a>
            </div>
        </header>

        {% block content %}{% endblock %}

        <script src="/js/script.js"></script>
        <script src="/js/zipCode.js"></script>
        

    </body>
</html>