{% extends "layout.njk" %}

{% block content %}

<div class="card table-container" style="width:60%">
    <a href="/students/create">novo aluno</a>
    <table id="table-instructors" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Aluno</th>
                <th>Atividades</th>
                <th>Modificar</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.name }}</td>
                <td class="edit-services">{{ student.activities }}</td>
                <td><a href="/students/{{student.id}}">Visualizar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function() {
        $('#table-instructors').DataTable({
            "language": {
                "lengthMenu": "Mostrando _MENU_ itens por página",
                "search": "Buscar",
                "zeroRecords": "Nothing found - sorry",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Não localizado",
                "infoFiltered": "(de _MAX_ itens)"
            }
        });
    });
</script>

{% endblock content %}