@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

:root {
    --primary-color: #353438;
    --secondary-color: #F7DF1E;
}

html body {
    background-color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
}

header div {
    background-color: white;
    width: 100%;
    padding: 32px;
    text-align: center;
    box-sizing: border-box;
}

#links {
    font-size: 22px;
}

#links a + a {
    margin-left: 32px;
}

#links a {
    text-decoration: none;
    color: #777;
    position: relative;
}

#links a.active {
    font-weight: bold;
    color: var(--primary-color);
}

#links a:hover {
    color: var(--primary-color);
}

#links a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -4px;
}

#links a:hover::after {
    width: 100%;
    transition: width 500ms ease-in-out;
}

/* === CARD ===*/

.card { 
    background-color: white;
    width: 800px;
    min-height: 400px;

    /* espaçamento ao centro */
    margin: 45px auto;

    /* grid dividido ao meio */
    display:grid;
    grid-template-columns: 1fr 1fr;

    /* sombra */
    box-shadow: 0px 2px 6px 10px rgba(0, 0 , 0, 0.2);

    /* animation */
    animation: up 100ms ease-out;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(35px);
    }
    to {
        opacity: 1;
    }
}

/* details */

.details {
    padding: 32px;
}

.details .item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 16px 0;
}

.details .item:last-child {
    border: none;
}

.details h3,
.details .item div:nth-child(1) {
    font-size: 14px;
    line-height: 24px;
    color: #777;
    letter-spacing: 0.7px;
    font-weight: normal;
}

.details .item div:nth-child(2) {
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

.details h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color)
}

.details .item span {
    padding: 8px 16px;
    background-color: var(--secondary-color);
    border-radius: 16px;
    color: #777;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

/* FORM */
div input {
    width: 100%;
    color: #555;
    font-weight: bold;
    font-size: 14px;
    border: none;
}

input[type="radio"] {
    width: initial;
    margin-right: 4px;
}

input[type="date"] {
    font-size: 14px;
    font-weight: normal;
    font-weight: bold;
} 

input::placeholder {
    font-size: 14px;
    font-weight: normal;
}

button[type="submit"],
a.edit {
    padding: 8px 32px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 4px;
    margin-top: 16px;
    width: 100%;
    font-size: 14px;
}

a.edit {
    display: block;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
}

#form-delete button[type="submit"] {
    margin-top: 8px;
    background-color: lightcoral;
}

/* INDEX INSTRUCTORS */
.table-container {
    display: block;
    padding: 40px;
    box-sizing: border-box;
}

.table-container table {
    width: 100%;
    border-spacing: 0;
}

.table-container thead {
    text-align: left;
    font-size: 12px;
    font-weight: bold;
}

.table-container thead th {
    padding: 8px;
    border-bottom: 1px solid #d9d9d9;
    text-transform: uppercase;
    color: #777;
}

.table-container td {
    padding: 8px;
    border-bottom: 1px solid #d9d9d9;
    width: 26px;
    height: 26px;
    vertical-align: middle;
    font-size: 12px;
}

tbody tr:last-child td {
    border-bottom: none;
}

tbody tr td:last-child a,
body .table-container > a {
    background-color: var(--primary-color);
    padding: 4px 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    border-radius: 8px;
}

body .table-container > a {
    margin-bottom: 12px;
    width: max-content;
}

.table-container thead tr th:last-child, td:last-child {
    text-align: center;
}

.dataTables_length label {
    font-size: 12px;
}

.dataTables_filter label {
    font-size: 12px;
    border-bottom: 1px solid #d9d9d9;
}

.dataTables_info {
    font-size: 12px;
}

#table-instructors_paginate {
    font-size: 12px;
}

