<div class="item">
    <div>Avatar URL</div>
    <div>
        <input type="url" name="avatar_url" placeholder="http://" value="{{ instructor.avatar_url }}">
    </div>
</div>
<div class="item">
    <div>Nome</div>
    <div>
        <input type="text" name="name" placeholder="Nome do instrutor" value="{{ instructor.name }}">
    </div>
</div>
<div class="item">
    <div>Data de nascimento</div>
    <input type="date" name="birth" value="{{ instructor.birth }}">
</div>
<div class="item">
    <div>Sexo</div>
    <div>
        <span>
            <input 
                type="radio" 
                name="gender" 
                value="Male" 
                {% if instructor.gender == 'Male' %}
                checked
                {% endif %}
                >Masculino
        </span>

        <span>
            <input 
                type="radio" 
                name="gender" 
                value="Female"
                {% if instructor.gender == 'Female' %}
                checked
                {% endif %}
                >Feminino
        </span>
    </div>
</div>
<div class="item">
    <div>Área de atuação</div>
    <div>
        <input type="text" name="services" placeholder="Separe os serviços por vírgula" value="{{ instructor.services }}">
    </div>
</div>

<button type="submit">Salvar</button>