{% extends "layout.njk" %}

{% block content %}

<div class="card table-container">
    <table>
        <thead>
            <tr>
                <th>Instrutor</th>
                <th>Atendimento</th>
                <th>Modificar</th>
            </tr>
        </thead>
        <tbody>
            {% for instructor in instructors %}
            <tr>
                <td>{{ instructor.name }}</td>
                <td class="edit-services">{{ instructor.services }}</td>
                <td><a href="/instructors/{{instructor.id}}">Visualizar</a></td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>

{% endblock content %}